#form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#userForm{
    color:#353A4B;
    font-size: large;
    margin: 15px;
}

.field{
    background-color: #E8E8E8;
    text-align: center;
    width:350px;
    padding: 10px;
}

#submit_button{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    padding: 2px;
}

#status{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}