html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Prompt', sans-serif;
}

body {
    height:100%;
    width:100%;
    overflow-x: hidden;
    font-weight: normal;
    background-color: white;
    background-size: cover;
}

.header{
    color: #353A4B;
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    background-size: 100% auto;
    background-color: #E8E8E8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}